Node-Red-Flow.json
[
    {
        "id": "042fcc80a391ba50",
        "type": "tab",
        "label": "Easee Charger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2029e5634fb6fb7",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "1x6AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": true,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":6,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 100,
        "wires": [
            [
                "dfd6328e8fb491a0"
            ]
        ]
    },
    {
        "id": "bc6eb3a773799337",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "3x7AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":7,\"currentP2\":7,\"currentP3\":7}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 460,
        "wires": [
            [
                "dfd6328e8fb491a0"
            ]
        ]
    },
    {
        "id": "f5f563debe44d307",
        "type": "inject",
        "z": "042fcc80a391ba50",
        "name": "Start every 2nd minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "18a2483da46e7775"
            ]
        ]
    },
    {
        "id": "7f15d11da6fd544f",
        "type": "switch",
        "z": "042fcc80a391ba50",
        "name": "3-phase switch",
        "property": "payload.power_generation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "500",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "500",
                "vt": "num",
                "v2": "1600",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "1601",
                "vt": "num",
                "v2": "2000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "2001",
                "vt": "num",
                "v2": "2500",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "2501",
                "vt": "num",
                "v2": "3000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "3001",
                "vt": "num",
                "v2": "4000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "4001",
                "vt": "num",
                "v2": "5000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "5001",
                "vt": "num",
                "v2": "6000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "6001",
                "vt": "num",
                "v2": "6900",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "6901",
                "vt": "num",
                "v2": "7500",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "7501",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 11,
        "x": 1120,
        "y": 220,
        "wires": [
            [
                "4441115ae39fd907"
            ],
            [
                "b2029e5634fb6fb7"
            ],
            [
                "9b66b54517fbdf1d"
            ],
            [
                "ec5df683b9fb1ed4"
            ],
            [
                "f455837de1859335"
            ],
            [
                "54354c250d900d82"
            ],
            [
                "383dceadcd27e547"
            ],
            [
                "bc6eb3a773799337"
            ],
            [
                "15065383651da985"
            ],
            [
                "7bd1a7fc1a98b6c6"
            ],
            [
                "f80877045d4820bd"
            ]
        ]
    },
    {
        "id": "bcdc36d98a493529",
        "type": "api-current-state",
        "z": "042fcc80a391ba50",
        "name": "2min average inverter",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.inverter_2min_average_production",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "82758f2ab95f0287",
                "e524fad052a1e58e"
            ]
        ]
    },
    {
        "id": "18a2483da46e7775",
        "type": "api-current-state",
        "z": "042fcc80a391ba50",
        "name": "Solar-Charging active?  (Boolean)",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.solarcharging",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 560,
        "y": 460,
        "wires": [
            [
                "2e32e8ddf61ffb2d"
            ],
            []
        ]
    },
    {
        "id": "ec5df683b9fb1ed4",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "1x8AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":8,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 220,
        "wires": [
            [
                "dfd6328e8fb491a0"
            ]
        ]
    },
    {
        "id": "f455837de1859335",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "1x10AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":10,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 280,
        "wires": [
            [
                "dfd6328e8fb491a0"
            ]
        ]
    },
    {
        "id": "383dceadcd27e547",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "1x16AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":16,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 400,
        "wires": [
            [
                "dfd6328e8fb491a0"
            ]
        ]
    },
    {
        "id": "15065383651da985",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "3x8AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":8,\"currentP2\":8,\"currentP3\":8}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 520,
        "wires": [
            [
                "dfd6328e8fb491a0"
            ]
        ]
    },
    {
        "id": "7bd1a7fc1a98b6c6",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "3x9AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":9,\"currentP2\":9,\"currentP3\":9}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 580,
        "wires": [
            [
                "dfd6328e8fb491a0"
            ]
        ]
    },
    {
        "id": "f80877045d4820bd",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "3x10AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":10,\"currentP2\":10,\"currentP3\":10}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 640,
        "wires": [
            [
                "dfd6328e8fb491a0"
            ]
        ]
    },
    {
        "id": "dfd6328e8fb491a0",
        "type": "debug",
        "z": "042fcc80a391ba50",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 260,
        "wires": []
    },
    {
        "id": "50d421eec1d91665",
        "type": "trigger-state",
        "z": "042fcc80a391ba50",
        "name": "Easee state change to Charging",
        "server": "694f223e.a8eb6c",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "sensor.easee_XXXXX_status",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "charging"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "charging"
            }
        ],
        "inputs": 0,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": false,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "18a2483da46e7775"
            ],
            []
        ]
    },
    {
        "id": "4ada6d19bcf8e620",
        "type": "trigger-state",
        "z": "042fcc80a391ba50",
        "name": "Solar-Charging Enable (Boolean state change)",
        "server": "694f223e.a8eb6c",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "input_boolean.solarcharging",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "inputs": 0,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": false,
        "x": 190,
        "y": 440,
        "wires": [
            [
                "18a2483da46e7775"
            ],
            []
        ]
    },
    {
        "id": "54354c250d900d82",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "1x13AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":13,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 340,
        "wires": [
            [
                "dfd6328e8fb491a0"
            ]
        ]
    },
    {
        "id": "9b66b54517fbdf1d",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "1x7AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":7,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 160,
        "wires": [
            [
                "dfd6328e8fb491a0"
            ]
        ]
    },
    {
        "id": "56d168322ba128c9",
        "type": "comment",
        "z": "042fcc80a391ba50",
        "name": "Solar-Charging adjust power",
        "info": "",
        "x": 140,
        "y": 380,
        "wires": []
    },
    {
        "id": "dce9c3c285a1b376",
        "type": "api-current-state",
        "z": "042fcc80a391ba50",
        "name": "2 or 3 phase charging? (Boolean)",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.3phasecharging",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 900,
        "y": 520,
        "wires": [
            [
                "bcdc36d98a493529"
            ],
            [
                "7c8f1db13736206e"
            ]
        ]
    },
    {
        "id": "26fcc4b5624ece61",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "1x6AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":6,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 800,
        "wires": [
            [
                "369bd524cb0b16ac"
            ]
        ]
    },
    {
        "id": "a4f94a40547be446",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "2x10AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":10,\"currentP2\":10,\"currentP3\":10}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 1160,
        "wires": [
            [
                "369bd524cb0b16ac"
            ]
        ]
    },
    {
        "id": "55a58220e0ec80e3",
        "type": "switch",
        "z": "042fcc80a391ba50",
        "name": "2-phase switch",
        "property": "payload.power_generation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "500",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "500",
                "vt": "num",
                "v2": "1300",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "1301",
                "vt": "num",
                "v2": "1600",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "1601",
                "vt": "num",
                "v2": "1840",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "1841",
                "vt": "num",
                "v2": "2300",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "2301",
                "vt": "num",
                "v2": "2760",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "2761",
                "vt": "num",
                "v2": "3680",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "3681",
                "vt": "num",
                "v2": "4600",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "4601",
                "vt": "num",
                "v2": "5980",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "5981",
                "vt": "num",
                "v2": "7300",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "7301",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 1120,
        "y": 880,
        "wires": [
            [
                "c57afb41a3551d40"
            ],
            [
                "26fcc4b5624ece61"
            ],
            [
                "d8edbc024268ce9e"
            ],
            [
                "6de4db78947bd585"
            ],
            [
                "85fd2e253010497a"
            ],
            [
                "83574c4f10118a22"
            ],
            [
                "5064daa24dcb61e9"
            ],
            [
                "a4f94a40547be446"
            ],
            [
                "ece8bb5368ef481b"
            ],
            [
                "86709fbbbc0a2eaf"
            ],
            [
                "74fa2440bb7a375d"
            ]
        ]
    },
    {
        "id": "6de4db78947bd585",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "1x8AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":8,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 920,
        "wires": [
            [
                "369bd524cb0b16ac"
            ]
        ]
    },
    {
        "id": "85fd2e253010497a",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "1x10AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":10,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 980,
        "wires": [
            [
                "369bd524cb0b16ac"
            ]
        ]
    },
    {
        "id": "5064daa24dcb61e9",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "2x8AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":8,\"currentP2\":8,\"currentP3\":8}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 1100,
        "wires": [
            [
                "369bd524cb0b16ac"
            ]
        ]
    },
    {
        "id": "ece8bb5368ef481b",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "2x13AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":13,\"currentP2\":13,\"currentP3\":13}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 1220,
        "wires": [
            [
                "369bd524cb0b16ac"
            ]
        ]
    },
    {
        "id": "86709fbbbc0a2eaf",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "2x15AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":15,\"currentP2\":15,\"currentP3\":15}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 1280,
        "wires": [
            [
                "369bd524cb0b16ac"
            ]
        ]
    },
    {
        "id": "74fa2440bb7a375d",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "2x16AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":16,\"currentP2\":16,\"currentP3\":16}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 1340,
        "wires": [
            [
                "369bd524cb0b16ac"
            ]
        ]
    },
    {
        "id": "369bd524cb0b16ac",
        "type": "debug",
        "z": "042fcc80a391ba50",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 960,
        "wires": []
    },
    {
        "id": "83574c4f10118a22",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "2x6AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":6,\"currentP2\":6,\"currentP3\":6}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 1040,
        "wires": [
            [
                "369bd524cb0b16ac"
            ]
        ]
    },
    {
        "id": "d8edbc024268ce9e",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "1x7AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":7,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 860,
        "wires": [
            [
                "369bd524cb0b16ac"
            ]
        ]
    },
    {
        "id": "7c8f1db13736206e",
        "type": "api-current-state",
        "z": "042fcc80a391ba50",
        "name": "2min average inverter",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.inverter_2min_average_production",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 540,
        "y": 880,
        "wires": [
            [
                "3de8c605cb623cf6",
                "c198c779e63bdafa"
            ]
        ]
    },
    {
        "id": "d022aaafb432a7e1",
        "type": "bigtimer",
        "z": "042fcc80a391ba50",
        "outtopic": "",
        "outpayload1": "on",
        "outpayload2": "off",
        "name": "Sunrise/Sunset",
        "comment": "",
        "lat": "xx.xxxxx",
        "lon": "x.xxxxx",
        "starttime": "5003",
        "endtime": "5004",
        "starttime2": "0",
        "endtime2": "0",
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "on",
        "outtext2": "off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 120,
        "y": 1240,
        "wires": [
            [
                "8a5ba8d75253464b"
            ],
            [],
            []
        ]
    },
    {
        "id": "0f0eb41b525fa916",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "Enable Solar-Charging (Boolean)",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.solarcharging"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 640,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "8a5ba8d75253464b",
        "type": "switch",
        "z": "042fcc80a391ba50",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1240,
        "wires": [
            [
                "0f0eb41b525fa916"
            ],
            [
                "9c96be805d93b9a8",
                "a92e8a2ef3547f2d"
            ]
        ]
    },
    {
        "id": "9c96be805d93b9a8",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "Disable Solar-Charging (Boolean)",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.solarcharging"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 640,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "4441115ae39fd907",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "Pause Charging",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":0,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1380,
        "y": 40,
        "wires": [
            [
                "dfd6328e8fb491a0"
            ]
        ]
    },
    {
        "id": "c57afb41a3551d40",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "Pause Charging",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":0,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1380,
        "y": 740,
        "wires": [
            [
                "369bd524cb0b16ac"
            ]
        ]
    },
    {
        "id": "2e32e8ddf61ffb2d",
        "type": "api-current-state",
        "z": "042fcc80a391ba50",
        "name": "Easee Status Charging?",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 2,
        "halt_if": "charging",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.easee_XXXXX_status",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 530,
        "y": 540,
        "wires": [
            [
                "dce9c3c285a1b376"
            ],
            []
        ]
    },
    {
        "id": "82758f2ab95f0287",
        "type": "change",
        "z": "042fcc80a391ba50",
        "name": "Power Generation",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "power_generation",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 180,
        "wires": [
            [
                "9b3432e01005bdbd"
            ]
        ]
    },
    {
        "id": "e524fad052a1e58e",
        "type": "change",
        "z": "042fcc80a391ba50",
        "name": "Charger ID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "charger_id",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "EH123456",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 240,
        "wires": [
            [
                "9b3432e01005bdbd"
            ]
        ]
    },
    {
        "id": "9b3432e01005bdbd",
        "type": "join",
        "z": "042fcc80a391ba50",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 950,
        "y": 220,
        "wires": [
            [
                "7f15d11da6fd544f"
            ]
        ]
    },
    {
        "id": "3de8c605cb623cf6",
        "type": "change",
        "z": "042fcc80a391ba50",
        "name": "Power Generation",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "power_generation",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 840,
        "wires": [
            [
                "d9d68d8fe18b0e57"
            ]
        ]
    },
    {
        "id": "c198c779e63bdafa",
        "type": "change",
        "z": "042fcc80a391ba50",
        "name": "Charger ID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "charger_id",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "EH123456",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 900,
        "wires": [
            [
                "d9d68d8fe18b0e57"
            ]
        ]
    },
    {
        "id": "d9d68d8fe18b0e57",
        "type": "join",
        "z": "042fcc80a391ba50",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 950,
        "y": 880,
        "wires": [
            [
                "55a58220e0ec80e3"
            ]
        ]
    },
    {
        "id": "a92e8a2ef3547f2d",
        "type": "change",
        "z": "042fcc80a391ba50",
        "name": "Charger ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "EH123456",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 1320,
        "wires": [
            [
                "545099cb9cfb2a8b"
            ]
        ]
    },
    {
        "id": "e1619ec353a89b07",
        "type": "comment",
        "z": "042fcc80a391ba50",
        "name": "Auto enable/disable Solar-Charging at sunrise/sunset",
        "info": "",
        "x": 220,
        "y": 1120,
        "wires": []
    },
    {
        "id": "545099cb9cfb2a8b",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "Pause Charging",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "action_command",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload}}\",\"action_command\":\"pause\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 800,
        "y": 1320,
        "wires": [
            [
                "ea6b0ac06ec22e97"
            ]
        ]
    },
    {
        "id": "ea6b0ac06ec22e97",
        "type": "debug",
        "z": "042fcc80a391ba50",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1320,
        "wires": []
    },
    {
        "id": "df2235d66d0b47d3",
        "type": "trigger-state",
        "z": "042fcc80a391ba50",
        "name": "2min average inverter",
        "server": "694f223e.a8eb6c",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "sensor.inverter_2min_average_production",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": ">",
                "comparatorValueDatatype": "num",
                "comparatorValue": "1000"
            }
        ],
        "inputs": 0,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": false,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "a1801513ba5ad7e4"
            ],
            []
        ]
    },
    {
        "id": "a1801513ba5ad7e4",
        "type": "api-current-state",
        "z": "042fcc80a391ba50",
        "name": "Solar-Charging active?  (Boolean)",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.solarcharging",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "22bf4e735c7f1d74"
            ],
            []
        ]
    },
    {
        "id": "22bf4e735c7f1d74",
        "type": "change",
        "z": "042fcc80a391ba50",
        "name": "Charger ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "EH123456",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 80,
        "wires": [
            [
                "5b8ea4dc0c945013"
            ]
        ]
    },
    {
        "id": "5b8ea4dc0c945013",
        "type": "api-call-service",
        "z": "042fcc80a391ba50",
        "name": "Start Charging",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "action_command",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload}}\",\"action_command\":\"resume\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 960,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e5ec67b4347d05e8",
        "type": "comment",
        "z": "042fcc80a391ba50",
        "name": "Start Solar Charging when above 1000w production",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "694f223e.a8eb6c",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": false,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]
