Node-Red-Flow.json
[
    {
        "id": "178d37357b28a2e9",
        "type": "tab",
        "label": "Easee Solar Charge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "458367387ea178ef",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "1x6AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": true,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":6,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 100,
        "wires": [
            [
                "4ab850b92f991633"
            ]
        ]
    },
    {
        "id": "e26a27c52f9d452c",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "3x7AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":7,\"currentP2\":7,\"currentP3\":7}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 460,
        "wires": [
            [
                "4ab850b92f991633"
            ]
        ]
    },
    {
        "id": "d0e4935467fd7bf6",
        "type": "inject",
        "z": "178d37357b28a2e9",
        "name": "Start every 2nd minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "311ad8a76d6536f9"
            ]
        ]
    },
    {
        "id": "88855582d0f74bf8",
        "type": "switch",
        "z": "178d37357b28a2e9",
        "name": "3-phase switch",
        "property": "payload.power_generation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "500",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "500",
                "vt": "num",
                "v2": "1600",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "1601",
                "vt": "num",
                "v2": "2000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "2001",
                "vt": "num",
                "v2": "2500",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "2501",
                "vt": "num",
                "v2": "3000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "3001",
                "vt": "num",
                "v2": "4000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "4001",
                "vt": "num",
                "v2": "5000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "5001",
                "vt": "num",
                "v2": "6000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "6001",
                "vt": "num",
                "v2": "6900",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "6901",
                "vt": "num",
                "v2": "7500",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "7501",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 11,
        "x": 1120,
        "y": 220,
        "wires": [
            [
                "b7faa90e3f6741cf"
            ],
            [
                "458367387ea178ef"
            ],
            [
                "096d0191c0fb8651"
            ],
            [
                "2f49a85b8d7ba170"
            ],
            [
                "a0bff7554a5121cd"
            ],
            [
                "f6a6896cafbdc0ac"
            ],
            [
                "bf8075832149a903"
            ],
            [
                "e26a27c52f9d452c"
            ],
            [
                "f0e7aad222071801"
            ],
            [
                "3c9ef71580fe768a"
            ],
            [
                "dfce09e712a15aae"
            ]
        ]
    },
    {
        "id": "9dfa88496e94bb81",
        "type": "api-current-state",
        "z": "178d37357b28a2e9",
        "name": "2min average inverter",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.inverter_2min_average_production",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 540,
        "y": 200,
        "wires": [
            [
                "1d995a2fc9203007",
                "86a6c8ae43e82e91"
            ]
        ]
    },
    {
        "id": "311ad8a76d6536f9",
        "type": "api-current-state",
        "z": "178d37357b28a2e9",
        "name": "Solar-Charging active?  (Boolean)",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.solarcharging",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 560,
        "y": 460,
        "wires": [
            [
                "cc2eafd99227bd42"
            ],
            []
        ]
    },
    {
        "id": "2f49a85b8d7ba170",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "1x8AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":8,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 220,
        "wires": [
            [
                "4ab850b92f991633"
            ]
        ]
    },
    {
        "id": "a0bff7554a5121cd",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "1x10AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":10,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 280,
        "wires": [
            [
                "4ab850b92f991633"
            ]
        ]
    },
    {
        "id": "bf8075832149a903",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "1x16AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":16,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 400,
        "wires": [
            [
                "4ab850b92f991633"
            ]
        ]
    },
    {
        "id": "f0e7aad222071801",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "3x8AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":8,\"currentP2\":8,\"currentP3\":8}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 520,
        "wires": [
            [
                "4ab850b92f991633"
            ]
        ]
    },
    {
        "id": "3c9ef71580fe768a",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "3x9AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":9,\"currentP2\":9,\"currentP3\":9}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 580,
        "wires": [
            [
                "4ab850b92f991633"
            ]
        ]
    },
    {
        "id": "dfce09e712a15aae",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "3x10AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":10,\"currentP2\":10,\"currentP3\":10}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 640,
        "wires": [
            [
                "4ab850b92f991633"
            ]
        ]
    },
    {
        "id": "4ab850b92f991633",
        "type": "debug",
        "z": "178d37357b28a2e9",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 260,
        "wires": []
    },
    {
        "id": "f2c8c95d2c9f91cd",
        "type": "trigger-state",
        "z": "178d37357b28a2e9",
        "name": "Easee state change to Charging",
        "server": "694f223e.a8eb6c",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "sensor.easee_status",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "charging"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "charging"
            }
        ],
        "inputs": 0,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": false,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "311ad8a76d6536f9"
            ],
            []
        ]
    },
    {
        "id": "15689542a78a012f",
        "type": "trigger-state",
        "z": "178d37357b28a2e9",
        "name": "Solar-Charging Enable (Boolean state change)",
        "server": "694f223e.a8eb6c",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "input_boolean.solarcharging",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "inputs": 0,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": false,
        "x": 190,
        "y": 440,
        "wires": [
            [
                "311ad8a76d6536f9"
            ],
            []
        ]
    },
    {
        "id": "f6a6896cafbdc0ac",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "1x13AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":13,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 340,
        "wires": [
            [
                "4ab850b92f991633"
            ]
        ]
    },
    {
        "id": "096d0191c0fb8651",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "1x7AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":7,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 160,
        "wires": [
            [
                "4ab850b92f991633"
            ]
        ]
    },
    {
        "id": "654c83afac112153",
        "type": "comment",
        "z": "178d37357b28a2e9",
        "name": "Solar-Charging",
        "info": "",
        "x": 100,
        "y": 380,
        "wires": []
    },
    {
        "id": "b476f900c4fae5fa",
        "type": "api-current-state",
        "z": "178d37357b28a2e9",
        "name": "2 or 3 phase charging? (Boolean)",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.3phasecharging",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 900,
        "y": 520,
        "wires": [
            [
                "9dfa88496e94bb81"
            ],
            [
                "b1f256d51d5522d7"
            ]
        ]
    },
    {
        "id": "197a584d58883ff1",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "1x6AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":6,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 800,
        "wires": [
            [
                "609aa07502fe607a"
            ]
        ]
    },
    {
        "id": "c180bddf9e7d1580",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "2x10AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":10,\"currentP2\":10,\"currentP3\":10}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 1160,
        "wires": [
            [
                "609aa07502fe607a"
            ]
        ]
    },
    {
        "id": "46459f2a92422ddd",
        "type": "switch",
        "z": "178d37357b28a2e9",
        "name": "2-phase switch",
        "property": "payload.power_generation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "500",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "500",
                "vt": "num",
                "v2": "1600",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "1601",
                "vt": "num",
                "v2": "2000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "2001",
                "vt": "num",
                "v2": "2500",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "2501",
                "vt": "num",
                "v2": "3000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "3001",
                "vt": "num",
                "v2": "4000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "4001",
                "vt": "num",
                "v2": "5000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "5001",
                "vt": "num",
                "v2": "6000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "6001",
                "vt": "num",
                "v2": "6900",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "6901",
                "vt": "num",
                "v2": "7400",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "7401",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 1120,
        "y": 880,
        "wires": [
            [
                "5667d9bcbc5b6730"
            ],
            [
                "197a584d58883ff1"
            ],
            [
                "f4bdded23f4b4007"
            ],
            [
                "016431f46fe0cd30"
            ],
            [
                "fcdf14c2613850d7"
            ],
            [
                "42ebe2101f46c92f"
            ],
            [
                "99c52b446cf95cb3"
            ],
            [
                "c180bddf9e7d1580"
            ],
            [
                "fff40a3905af1ab0"
            ],
            [
                "b6f82abacfac45d3"
            ],
            [
                "5130baeb458595cd"
            ]
        ]
    },
    {
        "id": "016431f46fe0cd30",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "1x8AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":8,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 920,
        "wires": [
            [
                "609aa07502fe607a"
            ]
        ]
    },
    {
        "id": "fcdf14c2613850d7",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "1x10AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":10,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 980,
        "wires": [
            [
                "609aa07502fe607a"
            ]
        ]
    },
    {
        "id": "99c52b446cf95cb3",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "2x8AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":8,\"currentP2\":8,\"currentP3\":8}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 1100,
        "wires": [
            [
                "609aa07502fe607a"
            ]
        ]
    },
    {
        "id": "fff40a3905af1ab0",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "2x13AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":13,\"currentP2\":13,\"currentP3\":13}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 1220,
        "wires": [
            [
                "609aa07502fe607a"
            ]
        ]
    },
    {
        "id": "b6f82abacfac45d3",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "2x15AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":15,\"currentP2\":15,\"currentP3\":15}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 1280,
        "wires": [
            [
                "609aa07502fe607a"
            ]
        ]
    },
    {
        "id": "5130baeb458595cd",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "2x16AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":16,\"currentP2\":16,\"currentP3\":16}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 1340,
        "wires": [
            [
                "609aa07502fe607a"
            ]
        ]
    },
    {
        "id": "609aa07502fe607a",
        "type": "debug",
        "z": "178d37357b28a2e9",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 960,
        "wires": []
    },
    {
        "id": "42ebe2101f46c92f",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "2x6AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":6,\"currentP2\":6,\"currentP3\":6}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 1040,
        "wires": [
            [
                "609aa07502fe607a"
            ]
        ]
    },
    {
        "id": "f4bdded23f4b4007",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "1x7AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":7,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 860,
        "wires": [
            [
                "609aa07502fe607a"
            ]
        ]
    },
    {
        "id": "b1f256d51d5522d7",
        "type": "api-current-state",
        "z": "178d37357b28a2e9",
        "name": "2min average inverter",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.inverter_2min_average_production",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 540,
        "y": 880,
        "wires": [
            [
                "37c7b4f4adc17ffc",
                "cddaac943b016cb2"
            ]
        ]
    },
    {
        "id": "4c764bda15b6c284",
        "type": "bigtimer",
        "z": "178d37357b28a2e9",
        "outtopic": "",
        "outpayload1": "on",
        "outpayload2": "off",
        "name": "Sunrise/Sunset",
        "comment": "",
        "lat": "XXXXXX",
        "lon": "XXXXXX",
        "starttime": "5003",
        "endtime": "5004",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "on",
        "outtext2": "off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 100,
        "y": 1260,
        "wires": [
            [
                "767a07accea97e4e"
            ],
            [],
            []
        ]
    },
    {
        "id": "159788135b456388",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "Enable Solar-Charging (Boolean)",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.solarcharging"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 580,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "767a07accea97e4e",
        "type": "switch",
        "z": "178d37357b28a2e9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 1260,
        "wires": [
            [
                "159788135b456388"
            ],
            [
                "f17fa78d79f7eb78",
                "a6e0cb342296843b"
            ]
        ]
    },
    {
        "id": "f17fa78d79f7eb78",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "Disable Solar-Charging (Boolean)",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.solarcharging"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 580,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "39e3d89295dedae2",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "3x16AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": true,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload}}\",\"currentP1\":16,\"currentP2\":16,\"currentP3\":16}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 760,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "b7faa90e3f6741cf",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "Pause Charging",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":0,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1380,
        "y": 40,
        "wires": [
            [
                "4ab850b92f991633"
            ]
        ]
    },
    {
        "id": "5667d9bcbc5b6730",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "Pause Charging",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":0,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1380,
        "y": 740,
        "wires": [
            [
                "609aa07502fe607a"
            ]
        ]
    },
    {
        "id": "cc2eafd99227bd42",
        "type": "api-current-state",
        "z": "178d37357b28a2e9",
        "name": "Easee Status Charging?",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 2,
        "halt_if": "charging",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.easee_status",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 530,
        "y": 540,
        "wires": [
            [
                "b476f900c4fae5fa"
            ],
            []
        ]
    },
    {
        "id": "1d995a2fc9203007",
        "type": "change",
        "z": "178d37357b28a2e9",
        "name": "Power Generation",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "power_generation",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 180,
        "wires": [
            [
                "130a6fb77af41e56"
            ]
        ]
    },
    {
        "id": "86a6c8ae43e82e91",
        "type": "change",
        "z": "178d37357b28a2e9",
        "name": "Charger ID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "charger_id",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "EH123456",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 240,
        "wires": [
            [
                "130a6fb77af41e56"
            ]
        ]
    },
    {
        "id": "130a6fb77af41e56",
        "type": "join",
        "z": "178d37357b28a2e9",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 950,
        "y": 220,
        "wires": [
            [
                "88855582d0f74bf8"
            ]
        ]
    },
    {
        "id": "37c7b4f4adc17ffc",
        "type": "change",
        "z": "178d37357b28a2e9",
        "name": "Power Generation",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "power_generation",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 840,
        "wires": [
            [
                "205c214c88dad936"
            ]
        ]
    },
    {
        "id": "cddaac943b016cb2",
        "type": "change",
        "z": "178d37357b28a2e9",
        "name": "Charger ID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "charger_id",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "EH123456",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 900,
        "wires": [
            [
                "205c214c88dad936"
            ]
        ]
    },
    {
        "id": "205c214c88dad936",
        "type": "join",
        "z": "178d37357b28a2e9",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 950,
        "y": 880,
        "wires": [
            [
                "46459f2a92422ddd"
            ]
        ]
    },
    {
        "id": "a6e0cb342296843b",
        "type": "change",
        "z": "178d37357b28a2e9",
        "name": "Charger ID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "charger_id",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "EH123456",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1360,
        "wires": [
            [
                "18ba57844dec9919",
                "98016522d165b648"
            ]
        ]
    },
    {
        "id": "200cbbd842cf2be3",
        "type": "comment",
        "z": "178d37357b28a2e9",
        "name": "Auto enable/disable Solar-Charging at sunrise/sunset",
        "info": "",
        "x": 220,
        "y": 1140,
        "wires": []
    },
    {
        "id": "18ba57844dec9919",
        "type": "api-call-service",
        "z": "178d37357b28a2e9",
        "name": "Stop Charging",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "action_command",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload}}\",\"action_command\":\"stop\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 1360,
        "wires": [
            [
                "39597d33d171610d"
            ]
        ]
    },
    {
        "id": "98016522d165b648",
        "type": "delay",
        "z": "178d37357b28a2e9",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 1420,
        "wires": [
            [
                "39e3d89295dedae2"
            ]
        ]
    },
    {
        "id": "39597d33d171610d",
        "type": "debug",
        "z": "178d37357b28a2e9",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1360,
        "wires": []
    },
    {
        "id": "694f223e.a8eb6c",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": false,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]
