Node-Red-Flow.json
[
    {
        "id": "9289d62b720987be",
        "type": "tab",
        "label": "Easee Solar Charge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a507dc4b323a8dd8",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "1x6AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": true,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":6,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 80,
        "wires": [
            [
                "459d7b61913646fb"
            ]
        ]
    },
    {
        "id": "4bc6b66e3b77e6c6",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "3x7AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":7,\"currentP2\":7,\"currentP3\":7}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 440,
        "wires": [
            [
                "459d7b61913646fb"
            ]
        ]
    },
    {
        "id": "a9c12bd74fc5a024",
        "type": "inject",
        "z": "9289d62b720987be",
        "name": "Start every 2nd minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "e843bb0a66f39f70"
            ]
        ]
    },
    {
        "id": "f81b458b222ad02c",
        "type": "switch",
        "z": "9289d62b720987be",
        "name": "3-phase switch",
        "property": "payload.power_generation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "500",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "500",
                "vt": "num",
                "v2": "1600",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "1601",
                "vt": "num",
                "v2": "2000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "2001",
                "vt": "num",
                "v2": "2500",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "2501",
                "vt": "num",
                "v2": "3000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "3001",
                "vt": "num",
                "v2": "4000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "4001",
                "vt": "num",
                "v2": "5000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "5001",
                "vt": "num",
                "v2": "6000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "6001",
                "vt": "num",
                "v2": "6900",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "6901",
                "vt": "num",
                "v2": "7500",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "7501",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 11,
        "x": 1100,
        "y": 200,
        "wires": [
            [
                "a7ddf67a5b0b1477"
            ],
            [
                "a507dc4b323a8dd8"
            ],
            [
                "de5ba9c7db2c9ee6"
            ],
            [
                "1b595582317884fd"
            ],
            [
                "3947964cd06a5840"
            ],
            [
                "4a40487c7efdee14"
            ],
            [
                "6dd91f2bcab438f7"
            ],
            [
                "4bc6b66e3b77e6c6"
            ],
            [
                "150b93902a8e911c"
            ],
            [
                "9a6c94bd36b6582b"
            ],
            [
                "963a484180685549"
            ]
        ]
    },
    {
        "id": "f3a4f8dd49e43a06",
        "type": "api-current-state",
        "z": "9289d62b720987be",
        "name": "2min average inverter",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.inverter_2min_average_production",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "16760835aa1e4cde",
                "0698bc59b6c71c64"
            ]
        ]
    },
    {
        "id": "e843bb0a66f39f70",
        "type": "api-current-state",
        "z": "9289d62b720987be",
        "name": "Solar-Charging active?  (Boolean)",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.solarcharging",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 540,
        "y": 440,
        "wires": [
            [
                "77d8ed9982b9c121"
            ],
            []
        ]
    },
    {
        "id": "1b595582317884fd",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "1x8AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":8,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 200,
        "wires": [
            [
                "459d7b61913646fb"
            ]
        ]
    },
    {
        "id": "3947964cd06a5840",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "1x10AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":10,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 260,
        "wires": [
            [
                "459d7b61913646fb"
            ]
        ]
    },
    {
        "id": "6dd91f2bcab438f7",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "1x16AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":16,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 380,
        "wires": [
            [
                "459d7b61913646fb"
            ]
        ]
    },
    {
        "id": "150b93902a8e911c",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "3x8AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":8,\"currentP2\":8,\"currentP3\":8}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 500,
        "wires": [
            [
                "459d7b61913646fb"
            ]
        ]
    },
    {
        "id": "9a6c94bd36b6582b",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "3x9AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":9,\"currentP2\":9,\"currentP3\":9}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 560,
        "wires": [
            [
                "459d7b61913646fb"
            ]
        ]
    },
    {
        "id": "963a484180685549",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "3x10AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":10,\"currentP2\":10,\"currentP3\":10}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 620,
        "wires": [
            [
                "459d7b61913646fb"
            ]
        ]
    },
    {
        "id": "459d7b61913646fb",
        "type": "debug",
        "z": "9289d62b720987be",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 240,
        "wires": []
    },
    {
        "id": "5f1191e7d7e2dd4d",
        "type": "trigger-state",
        "z": "9289d62b720987be",
        "name": "Easee state change to Charging",
        "server": "694f223e.a8eb6c",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "sensor.easee_XXXXXXX",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "charging"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "charging"
            }
        ],
        "inputs": 0,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": false,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "e843bb0a66f39f70"
            ],
            []
        ]
    },
    {
        "id": "cc36ad38485e7cab",
        "type": "trigger-state",
        "z": "9289d62b720987be",
        "name": "Solar-Charging Enable (Boolean state change)",
        "server": "694f223e.a8eb6c",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "input_boolean.solarcharging",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "inputs": 0,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "enableInput": false,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "e843bb0a66f39f70"
            ],
            []
        ]
    },
    {
        "id": "4a40487c7efdee14",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "1x13AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":13,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 320,
        "wires": [
            [
                "459d7b61913646fb"
            ]
        ]
    },
    {
        "id": "de5ba9c7db2c9ee6",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "1x7AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":7,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 140,
        "wires": [
            [
                "459d7b61913646fb"
            ]
        ]
    },
    {
        "id": "b87dbbfd34ccbb30",
        "type": "comment",
        "z": "9289d62b720987be",
        "name": "Solar-Charging",
        "info": "",
        "x": 80,
        "y": 360,
        "wires": []
    },
    {
        "id": "d657429bf6d93bdb",
        "type": "api-current-state",
        "z": "9289d62b720987be",
        "name": "2 or 3 phase charging? (Boolean)",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.3phasecharging",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 880,
        "y": 500,
        "wires": [
            [
                "f3a4f8dd49e43a06"
            ],
            [
                "b9e41e60c93af324"
            ]
        ]
    },
    {
        "id": "1e2cde340e776822",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "1x6AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":6,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 780,
        "wires": [
            [
                "fd1199befec2f3fc"
            ]
        ]
    },
    {
        "id": "2ec6449b3a0cb874",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "2x10AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":10,\"currentP2\":10,\"currentP3\":10}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 1140,
        "wires": [
            [
                "fd1199befec2f3fc"
            ]
        ]
    },
    {
        "id": "9280dd8a02198919",
        "type": "switch",
        "z": "9289d62b720987be",
        "name": "2-phase switch",
        "property": "payload.power_generation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "500",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "500",
                "vt": "num",
                "v2": "1600",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "1601",
                "vt": "num",
                "v2": "2000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "2001",
                "vt": "num",
                "v2": "2500",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "2501",
                "vt": "num",
                "v2": "3000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "3001",
                "vt": "num",
                "v2": "4000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "4001",
                "vt": "num",
                "v2": "5000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "5001",
                "vt": "num",
                "v2": "6000",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "6001",
                "vt": "num",
                "v2": "6900",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "6901",
                "vt": "num",
                "v2": "7400",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "7401",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 1100,
        "y": 860,
        "wires": [
            [
                "8fa5be7c1cd5ea3c"
            ],
            [
                "1e2cde340e776822"
            ],
            [
                "a1fdc9c404b93a8b"
            ],
            [
                "e98c974ddb687679"
            ],
            [
                "76e6b82b80d4748f"
            ],
            [
                "bf3293f20f9574fe"
            ],
            [
                "ab1a68747dc33aab"
            ],
            [
                "2ec6449b3a0cb874"
            ],
            [
                "2aac935d350b39c9"
            ],
            [
                "1ce8488372c1999e"
            ],
            [
                "be1e9afd272f4a69"
            ]
        ]
    },
    {
        "id": "e98c974ddb687679",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "1x8AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":8,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 900,
        "wires": [
            [
                "fd1199befec2f3fc"
            ]
        ]
    },
    {
        "id": "76e6b82b80d4748f",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "1x10AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":10,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 960,
        "wires": [
            [
                "fd1199befec2f3fc"
            ]
        ]
    },
    {
        "id": "ab1a68747dc33aab",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "2x8AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":8,\"currentP2\":8,\"currentP3\":8}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 1080,
        "wires": [
            [
                "fd1199befec2f3fc"
            ]
        ]
    },
    {
        "id": "2aac935d350b39c9",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "2x13AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":13,\"currentP2\":13,\"currentP3\":13}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 1200,
        "wires": [
            [
                "fd1199befec2f3fc"
            ]
        ]
    },
    {
        "id": "1ce8488372c1999e",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "2x15AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":15,\"currentP2\":15,\"currentP3\":15}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 1260,
        "wires": [
            [
                "fd1199befec2f3fc"
            ]
        ]
    },
    {
        "id": "be1e9afd272f4a69",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "2x16AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":16,\"currentP2\":16,\"currentP3\":16}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 1320,
        "wires": [
            [
                "fd1199befec2f3fc"
            ]
        ]
    },
    {
        "id": "fd1199befec2f3fc",
        "type": "debug",
        "z": "9289d62b720987be",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 940,
        "wires": []
    },
    {
        "id": "bf3293f20f9574fe",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "2x6AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":6,\"currentP2\":6,\"currentP3\":6}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 1020,
        "wires": [
            [
                "fd1199befec2f3fc"
            ]
        ]
    },
    {
        "id": "a1fdc9c404b93a8b",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "1x7AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":7,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1340,
        "y": 840,
        "wires": [
            [
                "fd1199befec2f3fc"
            ]
        ]
    },
    {
        "id": "b9e41e60c93af324",
        "type": "api-current-state",
        "z": "9289d62b720987be",
        "name": "2min average inverter",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.inverter_2min_average_production",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 520,
        "y": 860,
        "wires": [
            [
                "b9d51f5286a6f187",
                "6a359c2b84526330"
            ]
        ]
    },
    {
        "id": "8e8b67b75d3a69b5",
        "type": "bigtimer",
        "z": "9289d62b720987be",
        "outtopic": "",
        "outpayload1": "on",
        "outpayload2": "off",
        "name": "Sunrise/Sunset",
        "comment": "",
        "lat": "56.135467529296875",
        "lon": "8.9080287363748",
        "starttime": "5003",
        "endtime": "5004",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "on",
        "outtext2": "off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 80,
        "y": 1240,
        "wires": [
            [
                "daf070991906e170"
            ],
            [],
            []
        ]
    },
    {
        "id": "e31f12b5ec28b8bf",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "Enable Solar-Charging (Boolean)",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.solarcharging"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 560,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "daf070991906e170",
        "type": "switch",
        "z": "9289d62b720987be",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 1240,
        "wires": [
            [
                "e31f12b5ec28b8bf"
            ],
            [
                "666bb2a225c0ef9c",
                "083d22d48ebd3b94"
            ]
        ]
    },
    {
        "id": "666bb2a225c0ef9c",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "Disable Solar-Charging (Boolean)",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.solarcharging"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 560,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "ab85d4778e4287e0",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "3x16AMP",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": true,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload}}\",\"currentP1\":16,\"currentP2\":16,\"currentP3\":16}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 560,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "a7ddf67a5b0b1477",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "Pause Charging",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":0,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 20,
        "wires": [
            [
                "459d7b61913646fb"
            ]
        ]
    },
    {
        "id": "8fa5be7c1cd5ea3c",
        "type": "api-call-service",
        "z": "9289d62b720987be",
        "name": "Pause Charging",
        "server": "694f223e.a8eb6c",
        "version": 5,
        "debugenabled": false,
        "domain": "easee",
        "service": "set_charger_circuit_dynamic_limit",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"charger_id\":\"{{payload.charger_id}}\",\"currentP1\":0,\"currentP2\":0,\"currentP3\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1360,
        "y": 720,
        "wires": [
            [
                "fd1199befec2f3fc"
            ]
        ]
    },
    {
        "id": "77d8ed9982b9c121",
        "type": "api-current-state",
        "z": "9289d62b720987be",
        "name": "Easee Status Charging?",
        "server": "694f223e.a8eb6c",
        "version": 3,
        "outputs": 2,
        "halt_if": "charging",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.easee_XXXXXXXX",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 510,
        "y": 520,
        "wires": [
            [
                "d657429bf6d93bdb"
            ],
            []
        ]
    },
    {
        "id": "16760835aa1e4cde",
        "type": "change",
        "z": "9289d62b720987be",
        "name": "Power Generation",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "power_generation",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 160,
        "wires": [
            [
                "ab959674c09037f7"
            ]
        ]
    },
    {
        "id": "0698bc59b6c71c64",
        "type": "change",
        "z": "9289d62b720987be",
        "name": "Charger ID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "charger_id",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "EH123456",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "ab959674c09037f7"
            ]
        ]
    },
    {
        "id": "ab959674c09037f7",
        "type": "join",
        "z": "9289d62b720987be",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 200,
        "wires": [
            [
                "f81b458b222ad02c"
            ]
        ]
    },
    {
        "id": "b9d51f5286a6f187",
        "type": "change",
        "z": "9289d62b720987be",
        "name": "Power Generation",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "power_generation",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 820,
        "wires": [
            [
                "5406f5e1a5285c72"
            ]
        ]
    },
    {
        "id": "6a359c2b84526330",
        "type": "change",
        "z": "9289d62b720987be",
        "name": "Charger ID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "charger_id",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "EH123456",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 880,
        "wires": [
            [
                "5406f5e1a5285c72"
            ]
        ]
    },
    {
        "id": "5406f5e1a5285c72",
        "type": "join",
        "z": "9289d62b720987be",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 860,
        "wires": [
            [
                "9280dd8a02198919"
            ]
        ]
    },
    {
        "id": "083d22d48ebd3b94",
        "type": "change",
        "z": "9289d62b720987be",
        "name": "Charger ID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "charger_id",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "EH123456",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1340,
        "wires": [
            [
                "ab85d4778e4287e0"
            ]
        ]
    },
    {
        "id": "61882543a91eba13",
        "type": "comment",
        "z": "9289d62b720987be",
        "name": "Auto enable/disable Solar-Charging at sunrise/sunset",
        "info": "",
        "x": 200,
        "y": 1120,
        "wires": []
    },
    {
        "id": "694f223e.a8eb6c",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": false,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]
